
html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
  }
 
.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}
.luigi{
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    }
    .bubble {
      position: fixed;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 20px;
      width: 300px;
      background: #fff;
      border-radius: 60px;
      padding: 24px;
      text-align: center;
      color: #000;
    }
    
    .bubble-bottom-left:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 24px solid #fff;
      border-right: 12px solid transparent;
      border-top: 12px solid #fff;
      border-bottom: 20px solid transparent;
      left: 32px;
      bottom: -24px;
    }
@keyframes drive{
    from{transform: translateX(-200px)}
    to{transform: translateX(1000px)}
    }